.hello-title{
    color: darkgreen;
}
body{
    font-family: verdana;
    background-color: greenyellow;
}

table {
   width: 700px;
   left: 20;
   text-align: center;
   justify-content: center ;
    
}

table, th, td {
   border: 1px solid black;
   padding: 2px;
   color: blue
}

tr.header{
   background-color: #00439A;
   color : #FFFFFF;
}

tr.odd{
   background-color: #CFCFCF;
}

tr.even{
   background-color: #1076F5;
}

h2 {color: green;    text-align: center;}

table.center {
   margin-left:auto; 
   margin-right:auto;
 }