<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Students</title>
        <!-- <link rel="stylesheet" th:href="@{/css/main.css}" /> -->
        <link rel="stylesheet" th:href="@{/main.css}" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        crossorigin="anonymous">
    </head>
    
    <body>

            <div class="container my-5">
                    <div class="card"><br>
                        <h2>LIST OF STUDENTS</h2>
                       <div class="card-body">        
       <table>
        <tr><th>Id</th>
            <th>Name</th>
            <th>Major</th>
        </tr>        
        <tr th:each="student : ${students}">
            <td th:text="${student.id}">Id</td>
            <td th:text="${student.name}">Name</td>
            <td th:text="${student.code}"> Code</td>
        </tr>
    </table>

    <br> <a href="showTeachers">Show Teachers [3]</a><br>
    <br> <a href="showCourses">Show courses [1]</a>

</div>
</div>
</div>
    </body>
</html>