<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Teacher</title>
        <link rel="stylesheet" th:href="@{/css/style.css}" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        crossorigin="anonymous">
    </head>
    
    <body>
        <h2>LIST OF TEACHERS</h2>
          
       <table>
        <tr><th>Id</th>
            <th>Name</th>
            <th>Department</th>
        </tr>        
        <tr th:each="teacher : ${teachers}">
            <td th:text="${teacher.id}">Id</td>
            <td th:text="${teacher.name}">Name</td>
            <td th:text="${teacher.code}">Code</td>
        </tr>
    </table>

    <br> <a href="showStudents">Show students</a><br>
    <br><a href="showCourses">Show courses</a>
      </body>
</html>